@use 'fonts' as *;

// Headings

h1 {
    font-family: var(--ff-headings);
    color: var(--clr-dark);
}

h2 {
    font-family: var(--ff-headings);
}

h3 {
    font-family: var(--ff-headings);
}

h4 {
    font-family: var(--ff-headings);
}

// Paragraph

p {
    font-family: var(--ff-body);
}

.light-text {
    color: var(--clr-light)
}

// Links

a {
    text-decoration: none;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

a:visited {
    color: inherit;
}

a:hover {
    text-shadow: 3px 3px rgba(#000, .3);
}