.job-block:nth-child(even) {
    flex-direction: row-reverse;

}

.job-block {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
}

.right {
    justify-content: right;
}

.left {
    justify-content: left;
}

.job-description {
    background-color: lightgray;
    width: fit-content;
    max-width: 400px;
    border: solid 2px;
    padding: 1em;
    
}

.timeline-dot {
    width: 16px;
    height: 16px;
    background-color: black;
    border-radius: 50%;
}